<a routerLink="../"><i style="font-size: 1.5em" class="fas fa-arrow-left text-lg-left"></i></a>
<div class="row" *ngIf="client">
  <div class="col-12">
    <i *ngIf="!isInEditMode" (click)="editClientDetails()" style="font-size: 1.7em; cursor: pointer"
       class="fas fa-edit text-primary float-right"></i>
    <i *ngIf="isInEditMode" (click)="editClientDetails()" style="font-size: 1.7em; cursor: pointer"
       class="fas fa-window-close text-warning float-right"></i>
    <dx-form id="form" #form
             [formData]="client">
      <dxi-item itemType="group" cssClass="first-group" [colCount]="4">
        <dxi-item>
          <div class="form-avatar"></div>
        </dxi-item>
        <dxi-item itemType="group" [colSpan]="3">
          <dxi-item dataField="fullName" [editorOptions]="{ disabled: !isInEditMode }"></dxi-item>
          <dxi-item dataField="email" [disabled]="true"></dxi-item>
          <dxi-item dataField="phone" [editorOptions]="{ disabled: !isInEditMode }"></dxi-item>
          <dxi-item dataField="dateOfBirth" editorType="dxDateBox"
                    [editorOptions]="{ width: '100%', disabled: !isInEditMode }"></dxi-item>
          <dxi-item dataField="active" [editorOptions]="{ disabled: !isInEditMode }"></dxi-item>
          <dxi-item dataField="requestPasswordChange" [label]="{text: 'Password is Default'}"
                    [disabled]="true"></dxi-item>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" cssClass="second-group" [colCount]="2">
        <dxi-item dataField="notes" [colSpan]="2" editorType="dxTextArea"
                  [editorOptions]="{ height: 140, disabled: !isInEditMode }"></dxi-item>
      </dxi-item>
    </dx-form>
    <hr>
    <button *ngIf="isInEditMode" (click)="updateClient()" [disabled]="updating"
            class="btn btn-outline-success form-control">Update
    </button>
  </div>
</div>


<hr> <br>
<h5 class="text-center">Scheduled Sessions</h5>
<br>
<hr>

<div class="row" *ngIf="clientSessions">
  <div class="col-12">
    <dx-scheduler
      #scheduler
      class="my-5"
      timeZone="Europe/Athens"
      [dataSource]="clientSessions"
      [views]="['month','week','day', 'timelineDay']"
      currentView="month"
      [currentDate]="currentDate"
      [firstDayOfWeek]="1"
      [startDayHour]="6"
      [endDayHour]="22"
      [showAllDayPanel]="false"
      [height]="500"
      (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
      (onAppointmentDeleting)="onAppointmentDeleting($event)"
      (onAppointmentRendered)="onAppointmentRendered($event)"
      (onAppointmentAdded)="onAppointment($event)">
      <dxo-editing
        [allowAdding]="true"
        [allowDeleting]="true"
        [allowUpdating]="false"
        [allowResizing]="true"
        [allowDragging]="false"
      ></dxo-editing>
    </dx-scheduler>
  </div>
</div>



<!--Book session for client popup-->
<dx-popup *ngIf="showSessionsForDatePopup"
          width="700"
          height="650"
          [showTitle]="true"
          title="Choose a package to book session for client"
          [closeOnOutsideClick]="false"
          [(visible)]="showSessionsForDatePopup">
  <div class="list-container">
    <p class="text-center">
      <i>Double click to choose session</i>
    </p>
    <small class="text-center">Sessions marked with red are full</small>
    <dx-list
      #list
      [dataSource]="sessionsForDate"
      [height]="650"
      [searchEnabled]="true"
      searchExpr="title"
      searchMode="contains">
      <div *dxTemplate="let data of 'item'">
       <div class="row">
         <div class="col-8">
           <h6 (dblclick)="selectSessionToBook(data)"
           >{{ data.sessionType.title }}</h6>
         </div>
         <div class="col-4">
           <i *ngIf="!data.isFull" class="fas fa-check-circle text-success"></i>
           <i *ngIf="data.isFull" class="fas fa-times text-danger"></i>
         </div>
       </div>
      </div>
    </dx-list>
  </div>
</dx-popup>

<!--Active packages for session-->
<dx-popup *ngIf="showActivePackagesPopup"
          width="700"
          height="650"
          [showTitle]="true"
          title="Choose a package to book session for client"
          [closeOnOutsideClick]="false"
          [(visible)]="showActivePackagesPopup">
  <div class="list-container">
    <p class="text-center">
      <i>Click to view details, double click to choose package</i>
    </p>
    <dx-list
      #list
      [dataSource]="clientsActivePackagesForSession"
      [height]="650"
      [searchEnabled]="true"
      searchExpr="title"
      searchMode="contains">
      <div *dxTemplate="let data of 'item'">
        <div class="row">
          <div [ngClass]="{'col-12': !data.canExpireByDate, 'col-6': data.canExpireByDate}">
            <h6 (dblclick)="selectPackageForSession(data)"
                (click)="data.collapsed = !data.collapsed">{{ data._package.title }}</h6>
          </div>
          <div [ngClass]="{'col-6': data.canExpireByDate}" *ngIf="data.canExpireByDate">
            <p><i>Expires at: {{ data.expiryDate.seconds * 1000 | date }}</i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div *ngIf="data.collapsed" style="padding: 20px">
              <p *ngFor="let el of data.eligibleSessionTypes">
                {{ el.sessionType.title }}, {{ el.maxUsages - el.timesUsed }} usages left
              </p>
            </div>
          </div>
        </div>
      </div>
    </dx-list>
  </div>
</dx-popup>

<!-- new session popup -->
<!-- Selected Package Popup -->
<dx-popup *ngIf="showCreateNewSessionPopup"
          width="700"
          height="650"
          [showTitle]="true"
          title="Create new session"
          [closeOnOutsideClick]="false"
          [(visible)]="showCreateNewSessionPopup">
  <dx-scroll-view width="100%" height="100%">
    <div style="padding: 20px">

      <div class="form-group">
        <label>Date: </label>
        <input type="text" disabled value="{{ newSession.dateStr }}" class="form-control">
      </div>

      <div class="form-group">
        <label>Start Time - End Time: </label>
        <input type="text" disabled value="{{formatStartAndEndTime(newSession)}}" class="form-control">
      </div>

      <div class="form-group">
        <label>Spots: </label>
        <input type="number" [(ngModel)]="newSession.spots" class="form-control">
      </div>

      <div class="form-group">
        <label>Session Type: </label>
        <select [(ngModel)]="newSession.sessionTypeId" class="form-control">
          <option *ngFor="let t of sessionTypes" value="{{ t.uid }}">{{ t.title }}</option>
        </select>
      </div>

      <button (click)="createSession()" class="btn btn-outline-primary form-control">Create session</button>

    </div>
  </dx-scroll-view>
</dx-popup>


<!--Loader-->
<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#scheduler' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false">
</dx-load-panel>
