<a routerLink="../"><i style="font-size: 1.5em" class="fas fa-arrow-left text-lg-left"></i></a>
<div class="row" *ngIf="client">
  <div class="col-12">
    <i *ngIf="!isInEditMode" (click)="editClientDetails()" style="font-size: 1.7em; cursor: pointer"
       class="fas fa-edit text-primary float-right"></i>
    <i *ngIf="isInEditMode" (click)="editClientDetails()" style="font-size: 1.7em; cursor: pointer"
       class="fas fa-window-close text-warning float-right"></i>
    <dx-form id="form" #form
             [formData]="client">
      <dxi-item itemType="group" cssClass="first-group" [colCount]="4">
        <dxi-item>
          <div class="form-avatar"></div>
        </dxi-item>
        <dxi-item itemType="group" [colSpan]="3">
          <dxi-item dataField="fullName" [editorOptions]="{ disabled: !isInEditMode }"></dxi-item>
          <dxi-item dataField="email" [disabled]="true"></dxi-item>
          <dxi-item dataField="phone" [editorOptions]="{ disabled: !isInEditMode }"></dxi-item>
          <dxi-item dataField="dateOfBirth" editorType="dxDateBox"
                    [editorOptions]="{ width: '100%', disabled: !isInEditMode }"></dxi-item>
          <dxi-item dataField="active" [editorOptions]="{ disabled: !isInEditMode }"></dxi-item>
          <dxi-item dataField="requestPasswordChange" [label]="{text: 'Password is Default'}"
                    [disabled]="true"></dxi-item>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" cssClass="second-group" [colCount]="2">
        <dxi-item dataField="notes" [colSpan]="2" editorType="dxTextArea"
                  [editorOptions]="{ height: 140, disabled: !isInEditMode }"></dxi-item>
      </dxi-item>
    </dx-form>
    <hr>
    <button *ngIf="isInEditMode" (click)="updateClient()" [disabled]="updating"
            class="btn btn-outline-success form-control">Update
    </button>
  </div>
</div>


<hr>
<br>
<app-client-sessions *ngIf="client && sessionTypes"
[client]="client" [sessionTypes]="sessionTypes"
></app-client-sessions>
<br>
<hr>
