<div class="row header" #header>

  <a routerLink="/appointments" class="float-left" style="margin-left: 1%; margin-top: 1%; cursor: pointer">
    <i class="fas fa-arrow-left text-primary" style="font-size: 1.3em"></i>
  </a>

  <div class="col-12 text-center">
    <p class="current-time">{{ currDate | date:"MMMM dd, hh:mm:ss" }}</p>

    <div class="my-2" *ngIf="currentSession.session">
      <h5> {{ currentSession.session.sessionType.title }} </h5>
      <h6>{{ currentSession.session.startDate.seconds * 1000 | date:"hh:mm a" }}
      - {{ currentSession.session.endDate.seconds * 1000 | date:"hh:mm a" }}</h6>
    </div>

  </div>
</div>

<div class="row" #content id="content">
  <div class="col-12" >
    <div class="container text-center" *ngIf="todaySessions?.length === 0" >
      <h6> You have no scheduled Sessions for today </h6>
      <a routerLink="/appointments">
        Back to Sessions
      </a>
    </div>

    <div class="container" *ngIf="todaySessions?.length > 0 && currentSession.session">

    <div *ngIf="currentSession.clients?.length === 0">
      <h6 class="text-center">You have no subscribed clients for this session</h6>
    </div>

    <div *ngIf="currentSession.clients?.length > 0">

      <div class="row client" *ngFor="let c of currentSession.clients">

        <div class="col-9 client-name text-center">
          {{ c.fullName | uppercase}}
        </div>
        <div class="col-3 client-attendance-btn text-warning">
          <i class="far fa-circle"></i>
        </div>
      </div>

    </div>

  </div>


</div>




<div class="row footer" #footer>
  <div class="col-2">
    <i class="fas fa-arrow-circle-left text-primary action-btn"  *ngIf="todaySessions?.length > 0"
       [ngClass]="{ 'text-primary' : currentSessionIndex > 0,
          'text-secondary': currentSessionIndex <= 0
        }"
       (click)="previousSession()"></i>
  </div>
  <div class="col-8"></div>
  <div class="col-2">
    <i class="fas fa-arrow-circle-right action-btn" *ngIf="todaySessions?.length > 0"
       [ngClass]="{ 'text-primary' : currentSessionIndex < todaySessions.length - 1,
          'text-secondary': currentSessionIndex >= todaySessions.length - 1
        }"
       (click)="nextSession()"></i>
  </div>
</div>








<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false">
</dx-load-panel>

