<app-session-types-v1 [showDumbbellIcon]="false"
                      (onSessionTypesFetched)="onSessionTypesFetched($event)"></app-session-types-v1>

<h5> Purchased Packages </h5>

<div class="action-btns my-2">
  <div class="col-4">
    <button (click)="showNewPackagePopup = true" class="btn btn-outline-primary float-right">
      <i class="fas fa-box"></i> New Client Package
    </button>
  </div>

  <div>
    <label class="my-1">Number of results:</label>
    <select [(ngModel)]="limit" class="form-control" (change)="onPackagesLimitChanged()">
      <option value="100">100</option>
      <option value="200">200</option>
      <option value="400">300</option>
      <option value="100">400</option>
    </select>
  </div>

  <div>
    <input type="checkbox" checked id="validOnly" name="validOnly" class="checkbox" #validOnly
           (click)="onToggleOnlyValidPackages(validOnly.checked)">
    <label for="validOnly">Show valid packages</label>
  </div>

</div>

<dx-data-grid
  id="clientPackagesGrid"
  allowColumnResizing="true"
  [dataSource]="clientPackages"
  [showRowLines]="true"
  [showBorders]="true">
  <dxo-editing
    mode="popup"
    [allowAdding]="false">
  </dxo-editing>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 20, 40]"
    [showInfo]="true">
  </dxo-pager>
  <dxo-search-panel
    [visible]="true"
    [width]="240"
    placeholder="Search title...."></dxo-search-panel>


  <dxi-column dataField="_package.title" [width]="100" [minWidth]="100" [allowResizing]="false" caption="Pkg. Title"
              dataType="text"></dxi-column>
  <dxi-column dataField="eligibleSessionTypes" [width]="500" [minWidth]="500" caption="E.S.T"
              cellTemplate="sessionTypesTemplate"></dxi-column>
  <dxi-column dataField="payments" [width]="500" [minWidth]="500" caption="Payments"
              cellTemplate="paymentsTemplate"></dxi-column>
  <dxi-column dataField="_package.price" caption="Pkg.Price" [width]="70" [minWidth]="70" [allowResizing]="false"
              cellTemplate="pkgPriceTemplate"></dxi-column>
  <dxi-column dataField="owes" caption="Owes" [width]="50" [minWidth]="50" cellTemplate="owsCellTemplate"
              [hidingPriority]="7"></dxi-column>
  <dxi-column dataField="paid" caption="Paid" cellTemplate="paidCellTemplate" [hidingPriority]="6" [width]="50" [minWidth]="50"
              [allowResizing]="false"></dxi-column>
  <dxi-column dataField="expired" [allowResizing]="false" [hidingPriority]="5" caption="Status"
              cellTemplate="expiredCell"></dxi-column>
  <dxi-column dataField="expiryDate" [allowResizing]="false" [hidingPriority]="4" caption="Expires at"
              cellTemplate="expiryCell"></dxi-column>
  <dxi-column dataField="purchasedDate_ts" [allowResizing]="false" caption="Purchased At"
              cellTemplate="purchasedCell" [hidingPriority]="3"></dxi-column>
  <dxi-column dataField="dateLastUsed_ts" [allowResizing]="false" caption="Last Used"
              cellTemplate="lastUsedCell" [hidingPriority]="2"></dxi-column>
  <dxi-column dataField="isCustom" [allowResizing]="false" caption="Custom Pkg." cellTemplate="isCustomTemplate"
              dataType="boolean" [hidingPriority]="1"></dxi-column>
  <dxi-column dataField="uid" caption="UID" [hidingPriority]="0"></dxi-column>
  
  <div *dxTemplate="let row of 'paidCellTemplate'">
    <div [ngClass]="{'paid': row.data.paid}" >{{row.data.paid?'yes':'no'}}</div>
  </div>
  <div *dxTemplate="let row of 'owsCellTemplate'">
    <div>{{calculateMoneyOwed(row.data) | currency:"EUR" }}</div>
  </div>
  <div *dxTemplate="let row of 'sessionTypesTemplate'" style="padding-top: 44px;">
    <dx-data-grid
      id="subContainer"
      [dataSource]="row.data.eligibleSessionTypes"
      (onRowUpdating)="onEstMaxUsagesUpdating($event, row.data)"
      [showBorders]="true">
      <dxo-editing
        mode="row"
        [allowUpdating]="true">
      </dxo-editing>
      <dxi-column dataField="sessionType.title" caption="Session" [allowEditing]="false"
                  cellTemplate="sessionTitleTemplate"></dxi-column>
      <dxi-column dataField="timesUsed" [allowEditing]="false" caption="Used"></dxi-column>
      <dxi-column dataField="maxUsages" caption="Max" cellTemplate="maxUsagesTemplate"></dxi-column>

      <div *dxTemplate="let elRow of 'maxUsagesTemplate'" class="max-usages-wrapper">
        <p style="cursor: pointer"> {{ elRow.data.maxUsages }} </p>
      </div>

      <div *dxTemplate="let elRow of 'sessionTitleTemplate'" class="max-usages-wrapper">
        <p style="cursor: pointer"> {{ populateSessionTypeTitle(elRow.data) }} </p>
      </div>

    </dx-data-grid>
  </div>

  <div *dxTemplate="let row of 'expiredCell'">
    <p *ngIf="row.data.expired" style="color: red">Expired</p>
    <p *ngIf="!row.data.expired" style="color: green">Valid</p>
  </div>

  <div *dxTemplate="let row of 'expiryCell'">
    <p *ngIf="row.data.canExpireByDate"> {{row.data.expiryDate_ts | date}} </p>
    <p *ngIf="!row.data.canExpireByDate"> N/A</p>
  </div>

  <div *dxTemplate="let row of 'purchasedCell'">
    <p> {{row.data.purchasedDate_ts | date}} </p>
  </div>

  <div *dxTemplate="let row of 'lastUsedCell'">
    <p> {{row.data.dateLastUsed_ts | date}} </p>
  </div>

  <div *dxTemplate="let row of 'isCustomTemplate'">
    <p [ngClass]="{'text-warning' : row.data.isCustom}"> {{row.data.isCustom ? 'Yes' : 'No' }} </p>
  </div>

  <div *dxTemplate="let row of 'paymentsTemplate'" class="payments">
    <dx-data-grid
      #paymentDataGrid
      id="subContainer2"
      (onRowInserting)="onPaymentInserting($event, row.data)"
      (onRowRemoving)="onPaymentDeleting($event, row.data)"
      (onRowRemoved)="onPaymentDeleted($event, row)"
      (onRowInserted)="onPaymentAdded($event, row)"
      [dataSource]="row.data.payments"
      [showBorders]="true">
      <dxo-summary>
        <dxi-total-item
          [valueFormat]="{ type: 'currency', precision: 2 }"
          column="payment"
          summaryType="sum">
        </dxi-total-item>
      </dxo-summary>
      <dxo-editing
        mode="row"
        [allowAdding]="true"
        [allowDeleting]="true">
        <dxo-texts
          deleteRow="x"
          confirmDeleteMessage="">
        </dxo-texts>
      </dxo-editing>
      <dxi-column dataField="payment" caption="Amount" cellTemplate="paymentTemplate"></dxi-column>
      <dxi-column dataField="datePaid_ts" [allowEditing]="false" caption="Date"
                  cellTemplate="paymentDateTemplate"></dxi-column>

      <div *dxTemplate="let r of 'paymentTemplate'">
        <p> {{r.data.payment | currency:"EUR" }} </p>
      </div>

      <div *dxTemplate="let r of 'paymentDateTemplate'">
        <p> {{r.data.datePaid_ts | date:"short" }} </p>
      </div>

    </dx-data-grid>
  </div>

  <div *dxTemplate="let row of 'pkgPriceTemplate'">
    <p> {{row.data._package.price | currency:"EUR" }} </p>
  </div>

</dx-data-grid>

<dx-popup title="Select a new package for client"
          class="all-packages-popup"
          [closeOnOutsideClick]="false"
          [(visible)]="showNewPackagePopup">
  <button class="btn btn-outline-primary my-3" (click)="initCustomPackage()">
    <i class="fas fa-box"></i> New Custom Package
  </button>
  <div class="all-packages-wrapper">

    <div class="all-packages-item" *ngFor="let p of allPackagesMapped">
      <h4>{{p.parent.title | uppercase}}</h4>

      <div class="all-packages-children" *ngIf="p.children.length > 0">

        <div class="all-packages-child" *ngFor="let c of p.children">
          <div class="all-packages-child-details">
            <h5>{{c.title | uppercase}}</h5>
            <p>Price: {{c.price | currency:"EUR"}}</p>
            <div class="all-packages-est">
              <p>Eligible Session Types: </p>
              <ul>
                <li *ngFor="let est of c.eligibleSessionTypes" [innerHtml]="populateSessionTypeUsage(est)"></li>
              </ul>
            </div>
          </div>
          <div class="all-packages-child-action-buttons">
            <button class="btn btn-outline-primary form-control" (click)="addClientPackage(c, false)">
              SELECT
            </button>
          </div>
        </div>

      </div>

      <div class="no-packages" *ngIf="p.children.length === 0">
        <div class="text-warning">No packages</div>
      </div>

    </div>

  </div>

</dx-popup>


<dx-popup *ngIf="customPackage" width="700" height="650" [showTitle]="true" title="Create Custom Package"
          [closeOnOutsideClick]="false" [(visible)]="showCustomPackagePopup">

  <button class="btn btn-outline-primary my-2" (click)="addCustomPackage()">
    SAVE
  </button>

  <dx-scroll-view width="100%" height="100%">

    <div class="form-group">
      <label>Title: </label>
      <input type="text" [(ngModel)]="customPackage.title" class="form-control my-1">
    </div>

    <div class="form-group">
      <label>Days to Expire After Purchase: </label>
      <input type="number" min="0" [(ngModel)]="customPackage.daysToExpire" class="form-control my-1">
    </div>

    <div class="form-group">
      <label>Price: </label>
      <input type="number" min="0" [(ngModel)]="customPackage.price" class="form-control my-1">
    </div>

    <button (click)="customPackage.eligibleSessionTypes.unshift({
                sessionTypeId: '', maxUsages: 0
              })" class="btn btn-outline-primary my-2">Add Eligible session type
    </button>


    <div class="row my-2">
      <div class="col-12">
        <h6 class="text-left">Eligible Session Types</h6>
      </div>
    </div>

    <div class="row" *ngFor="let el of customPackage.eligibleSessionTypes; let i = index">
      <div class="col-6">
        <div class="form-group">
          <label>Session Type</label>
          <select [(ngModel)]="el.sessionTypeId" class="form-control my-1">
            <option *ngFor="let s of sessionTypes" value="{{ s.uid }}">{{ s.title }}</option>
          </select>
        </div>
      </div>
      <div class="col-5">
        <label>Max Usages</label>
        <input type="number" [(ngModel)]="el.maxUsages" class="form-control my-1">
      </div>
      <div class="col-1">
        <sup class="text-danger" style="cursor: pointer"
             (click)="customPackage.eligibleSessionTypes.splice(i, 1)">X</sup>
      </div>
    </div>

  </dx-scroll-view>

</dx-popup>

<!--Loader-->
<dx-load-panel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#clientPackagesGrid' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false">
</dx-load-panel>
