<h4 class="text-center">Sessions Calendar</h4>

<div class="top-action-button">
  <a routerLink="new" class="text-primary mx-2" data-toggle="tooltip" data-placement="top"
     title="Create new Session Day">
    <i class="far fa-calendar-plus" style="font-size: 2em; cursor: pointer"></i>
  </a>

  <app-session-types-v1 [showDumbbellIcon]="true"
                        data-toggle="tooltip" data-placement="top"
                        title="View or create session types"
                        (onSessionTypesFetched)="onSessionTypesFetched($event)"
  ></app-session-types-v1>

  <a class="text-primary mx-5" (click)="showPrintOptions()"
     data-toggle="tooltip" data-placement="top"
     title="Print schedule">
    <i class="fas fa-print" style="font-size: 2em; cursor: pointer"></i>
  </a>
</div>

<div class="calendar-view-options">

  <div class="form-check">
    <input class="form-check-input" type="radio" name="calendarViewOptions" id="todayNAfter"
           [value]="false" [(ngModel)]="showDateRange" (click)="getSessionsAfterToday()">
    <label class="form-check-label" for="todayNAfter">
      Show today and after
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="calendarViewOptions" id="range"
           [value]="true" [(ngModel)]="showDateRange">
    <label class="form-check-label" for="range">
      Date range
    </label>
  </div>

</div>


<div class="dx-fieldset" *ngIf="!showDateRange">
  <div class="dx-field">
    <div class="dx-field-label">Showing {{limit}} Results</div>
    <div class="dx-field-value">
      <dx-select-box (valueChange)="onLimitResultsChanged($event)"
                     [value]="limit"
                     [items]="[100, 200, 400, 500]"></dx-select-box>
    </div>
  </div>
</div>

<div class="date-range-options" *ngIf="showDateRange">

  <dx-date-box class="my-3"
               #dateStart
               type="date">
  </dx-date-box>

  <dx-date-box class="my-3"
               #dateEnd
               type="date">
  </dx-date-box>

  <dx-button
    stylingMode="outlined"
    text="Go"
    type="normal"
    [width]="120"
    (onClick)="fetchByDateRange(dateStart.value, dateEnd.value)">
  </dx-button>

</div>

<div class="dot-group">
  <div class="dot-info">
    <div class="dot passed"></div>
    <div>Passed session</div>
  </div>
  <div class="dot-info">
    <div class="dot open"></div>
    <div>Open session</div>
  </div>
  <div class="dot-info">
    <div class="dot full"></div>
    <div>Full session</div>
  </div>

</div>

<dx-scheduler
  id="scheduler"
  timeZone="Europe/Athens"
  [dataSource]="calendarItems"
  [views]='["month", "week", "day", "timelineDay"]'
  currentView="day"
  firstDayOfWeek="1"
  [currentDate]="currentDate"
  [startDayHour]="6"
  [endDayHour]="23"
  [height]="650"
  appointmentTemplate="appointment-template"
  (onAppointmentRendered)="onAppointmentRendered($event)"
  (onAppointmentFormOpening)="onAppointmentFormOpening($event)">
  <dxo-editing
    [allowAdding]="false"
    [allowDeleting]="false"
    [allowUpdating]="false"
    [allowResizing]="false"
    [allowDragging]="false"
  ></dxo-editing>

  <div *dxTemplate="let model of 'appointment-template'">
    <div class="session-preview">
      <p>{{model.appointmentData.text}}</p>
      <p><strong>{{model.appointmentData.subscriptions}}</strong> / <small>{{model.appointmentData.spots}}</small>
        Subscribers</p>
    </div>
    <!--    <div class='session-type-preview'-->
    <!--    >-->

    <!--      <div>{{model.appointmentData.text}} Session</div>-->
    <!--      <div>Subscribers-->
    <!--        <strong>{{model.appointmentData.subscriptions.length}} / {{ model.appointmentData.spots }}</strong>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>

</dx-scheduler>


<!--<div class="row">-->
<!--  <div class="col-4">-->
<!--    <div class="form-group" *ngIf="sessions?.length > 0">-->
<!--      <label>Limit Results:</label>-->
<!--      <select name="lim" id="lim" class="form-control" [(ngModel)]="limit" (change)="getAppointments()">-->
<!--        <option [ngValue]="100">100</option>-->
<!--        <option [ngValue]="200">200</option>-->
<!--        <option [ngValue]="400">400</option>-->
<!--        <option [ngValue]="500">500</option>-->
<!--      </select>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-8">-->
<!--    <a routerLink="new" class=" float-right text-primary mx-2" data-toggle="tooltip" data-placement="top"-->
<!--       title="Create new Session Day">-->
<!--      <i class="far fa-calendar-plus" style="font-size: 2em; cursor: pointer"></i>-->
<!--    </a>-->
<!--    <app-session-types-v1 [showDumbbellIcon]="true"></app-session-types-v1>-->

<!--    <a class="float-right text-primary mx-5" (click)="showPrintOptions()">-->
<!--      <i class="fas fa-print" style="font-size: 2em; cursor: pointer"></i>-->
<!--    </a>-->
<!--  </div>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="row mt-3">-->
<!--  <div class="col-3">-->
<!--    <span class="dot" style="background-color: #099c15"></span> Session is full-->
<!--  </div>-->
<!--  <div class="col-3">-->
<!--    <span class="dot" style="background-color: #8f8c95"></span> Passed Session-->
<!--  </div>-->
<!--  <div class="col-3">-->
<!--    <span class="dot" style="background-color: #306CC7"></span> Upcoming sessions-->
<!--  </div>-->
<!--  <div class="col-3">-->

<!--  </div>-->
<!--</div>-->
<!--<hr>-->

<!--<div class="row">-->
<!--  <div class="col-12">-->
<!--    <dx-scheduler-->
<!--      timeZone="Europe/Athens"-->
<!--      [dataSource]="sessions"-->
<!--      [views]='["month", "week", "day", "timelineDay"]'-->
<!--      currentView="day"-->
<!--      firstDayOfWeek="1"-->
<!--      [currentDate]="currentDate"-->
<!--      [startDayHour]="6"-->
<!--      [endDayHour]="22"-->
<!--      [height]="500"-->
<!--      appointmentTemplate="appointment-template"-->
<!--      (onAppointmentRendered)="onAppointmentRendered($event)"-->
<!--      (onAppointmentUpdating)="onAppointmentUpdating($event)"-->
<!--      (onAppointmentDeleting)="onAppointmentDeleting($event)"-->
<!--      (onAppointmentFormOpening)="onAppointmentFormOpening($event)">-->
<!--      <dxo-editing-->
<!--        [allowAdding]="false"-->
<!--        [allowDeleting]="true"-->
<!--        [allowUpdating]="true"-->
<!--        [allowResizing]="true"-->
<!--        [allowDragging]="false"-->
<!--      ></dxo-editing>-->

<!--      <div *dxTemplate="let model of 'appointment-template'">-->
<!--        <div class='session-type-preview'-->
<!--        >-->
<!--          <div>{{model.appointmentData.text}} Session</div>-->
<!--          <div>Subscribers-->
<!--            <strong>{{model.appointmentData.subscriptions.length}} / {{ model.appointmentData.spots }}</strong>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </dx-scheduler>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash;Subscribed clients popup&ndash;&gt;-->

<dx-popup *ngIf="selectedSession && selectedSession.session && selectedSession.calendarItem"
          width="800"
          height="600"
          [showTitle]="true"
          title="{{selectedSession.session.sessionType.title}} @ {{selectedSession.session.startDate | date:'short'}} - {{selectedSession.session.endDate | date:'shortTime'}}"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="showSelectedSessionPopup">


  <dx-scroll-view width="100%" height="80%" style="padding: 25px">

    <div class="selected-popup-form">

      <div>
        <p><strong>{{selectedSession.session.subscriptions.length}}</strong>
          / <small>{{selectedSession.session.spots}} Subscriptions
            <i class="text-success" *ngIf="selectedSession.session.isFull">
              ( Full session )
            </i>
          </small>
        </p>
      </div>

      <div>
        <label>Session Type</label>
        <dx-select-box [dataSource]="sessionTypes"
                       displayExpr="title"
                       valueExpr="this"
                       [disabled]="!selectedSession.session.allowUpdate || selectedSession.calendarItem.isPastDate"
                       [(value)]="selectedSession.session.sessionType"></dx-select-box>
      </div>

      <div>
        <label> Starts @</label>
        <dx-date-box class="my-3"
                     [disabled]="true"
                     [(value)]="selectedSession.session.startDate"
                     type="time">
        </dx-date-box>
      </div>

      <div>
        <label> Ends @</label>
        <dx-date-box class="my-3"
                     [disabled]="true"
                     [(value)]="selectedSession.session.endDate"
                     type="time">
        </dx-date-box>
      </div>

      <div>
        <label>Spots</label>
        <dx-number-box class="my-3"
          [(value)]="selectedSession.session.spots"
          [showSpinButtons]="true"
          [showClearButton]="true"
          [disabled]="selectedSession.calendarItem.isPastDate"
        ></dx-number-box>
      </div>

      <di>
        <h5>Subscribers ( {{selectedSession.session.subscriptions.length}}
          / <small>{{selectedSession.session.spots}}</small> ) </h5>
      </di>

      <div class="session-client" *ngFor="let c of selectedSession.session.subscriptions; let i = index">
        <div>{{c.clientFullName}} <small><i>({{c.clientEmail}} - {{c.clientPhone}})</i></small></div>
        <div (click)="onRemoveClientFromSession(c, i)"><i class="fas fa-trash-alt delete"></i></div>
      </div>

    </div>
  </dx-scroll-view>
  <dx-button *ngIf="!selectedSession.calendarItem.isPastDate"
    stylingMode="outlined"
    text="UPDATE"
    [disabled]="false"
    type="success"
    width="100%"
    (onClick)="onSessionUpdate()">
  </dx-button>


</dx-popup>


<!-- Print options popup -->
<dx-popup *ngIf="printOptions"
          [width]="500"
          [height]="500"
          [showTitle]="true"
          title="Print schedule"
          [dragEnabled]="true"
          [closeOnOutsideClick]="true"
          [(visible)]="showPrintOptionsPopup">
  <dx-scroll-view>

    <div class="container">
      <h6 class="text-center"> Generate schedule report </h6>
      <form style="padding: 20px;">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="when" value="{{ true }}" id="todayRadio"
                 [(ngModel)]="printOptions.today" [value]="true">
          <label class="form-check-label" for="todayRadio">
            Today
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="when" id="otherRadio" [value]="false"
                 [(ngModel)]="printOptions.today">
          <label class="form-check-label" for="otherRadio">
            Other
          </label>
        </div>

        <div style="margin: 15px" class="form-group" *ngIf="!printOptions.today">
          <label for="f">From</label>
          <input type="date" id="f" name="f" [(ngModel)]="printOptions.printBeginDate" class="form-control">
        </div>
        <div style="margin: 15px" class="form-group" *ngIf="!printOptions.today">
          <label for="t">To</label>
          <input type="date" id="t" name="t" [(ngModel)]="printOptions.printEndDate" class="form-control">
        </div>
      </form>

      <button class="btn btn-outline-primary form-control" (click)="generateScheduleReport()">Done</button>

    </div>

  </dx-scroll-view>
</dx-popup>


<!--Loader-->
<dx-load-panel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#scheduler' }"
               [(visible)]="loadingVisible"
               [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>

