<div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="startUpload($event)"
    [class.hovering]="isHovering">

    <h3>Drop Zone</h3>
    <p>Drag and drop a .jpg, .jpeg or a .png</p>
    <div class="file">
        <label class="file-label"></label>
        <input type="file" (change)="startUpload($event.target.files)" />



    </div>

</div>

<div *ngIf="percentage | async as pct">

    <progress [value]="pct" max="100"></progress>

</div>


<div class="row">

    <div class="col-3"></div>
    <div class="col-6">

        <div class="card">
            <img *ngIf="!downloadURL && post.imageURL" class="card-img-top" src="{{post.imageURL}}" 
                alt="Card image cap">
            <img *ngIf="downloadURL | async as u" class="card-img-top" [src]="u" alt="Card image cap">

            <div class="card-body">

                <div class="views" *ngIf="!isNew">
                    <p> <i class="fas fa-eye"></i> {{post.numberOfViewers.length}} </p>
                    <p (click)="viewInterested()" style="cursor: pointer;" *ngIf="post.postType == 'event'">interested:
                        {{post.eventSubscribers.length}}</p>
                    <p *ngIf="!isNew && post.postedAt_ts != null">  Posted @ {{post.postedAt_ts | date:"short"}}  </p>
                    <p *ngIf="!isNew && post.postedAt_ts == null && post.notifyAt_ts"> Will be posted @ {{post.notifyAt_ts | date:"short"}} </p>
                </div>

                <div class="form-group my-3">
                    <label>Title</label>
                    <input type="text" [(ngModel)]="post.title" class="form-control">
                </div>

                <div class="form-group my-3">
                    <label>Text</label>
                    <textarea rows="20" class="form-control" [(ngModel)]="post.text"></textarea>
                </div>

                <div class="form-check my-3" *ngIf="post.postImmediately && isNew">
                    <input class="form-check-input" type="checkbox" value="" [(ngModel)]="post.visible"
                        id="flexCheckDefault" [readOnly]="post.postImmediately">
                    <label class="form-check-label" for="flexCheckDefault">
                        Public
                    </label>
                </div>

                <div class="form-check my-2" *ngIf="post.postImmediately && isNew">
                    <input class="form-check-input" type="checkbox" value="" [(ngModel)]="post.notifyUsers"
                        id="flexCheckDefault1" [readOnly]="post.postImmediately">
                    <label class="form-check-label" for="flexCheckDefault1">
                        Notify users
                    </label>
                </div>

                <div class="form-check my-2" *ngIf="isNew">
                    <input class="form-check-input" type="checkbox" value="" [(ngModel)]="post.isEvent"
                        id="flexCheckDefault2">
                    <label class="form-check-label" for="flexCheckDefault2">
                        Is Event
                    </label>
                </div>

                <div class="form-check my-2" *ngIf="isNew">
                    <input class="form-check-input" (click)="onPostImmediatelyClicked()" type="checkbox" value=""
                        [(ngModel)]="post.postImmediately" id="flexCheckDefault3">
                    <label class="form-check-label" for="flexCheckDefault3">
                        Post Immediately
                    </label>
                </div>

                <div class="form-control my-2" *ngIf="!post.postImmediately && isNew">
                    <label for="postAt">Post At</label>
                    <dx-date-box id="postAt" class="my-3" #date (valueChange)="onDateSelected($event)" type="datetime">
                    </dx-date-box>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>

</div>

<div class="row mt-4">
    <div class="col-3"></div>
    <div class="col-6">
        <button (click)="savePost()" class="btn btn-outline-success form-control">Save</button>
        <button *ngIf="!isNew" (click)="deletePost()" class="btn btn-outline-danger form-control mt-3" > Delete </button>
    </div>
    <div class="col-3"></div>
</div>




<dx-popup *ngIf="!isNew && post?.eventSubscribers.length > 0" width="700" height="650" [showTitle]="true"
    title="People Intereted in Event" [closeOnOutsideClick]="false" [(visible)]="showSubscribersPopup">



    <dx-scroll-view width="100%" height="100%">

        <div class="subs" *ngFor="let s of post.eventSubscribers">

            <p>{{s.fullName}}</p>
            <p>{{s.phone}}</p>
            <p>{{s.email}}</p>

        </div>

    </dx-scroll-view>

</dx-popup>




<!--Loader-->
<dx-load-panel #loadPanel [position]="{ of: '#scheduler' }" shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible"
    [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>